# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
./clear-renovate-notifications
clear-renovate-notifications

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov
tmp

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.vscode/
.claude
opencode.jsonc
